nav{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding-inline: 0.75rem;
    padding-block: 0.5rem;
    background-color: #3c3c3c77; 
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


    .left,.right{
        display: flex;
        align-items: center;
        gap: 1rem;
        cursor: pointer;
    }
   
}